    <!-- ******HEADER****** -->
    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="https://dl.dropboxusercontent.com/u/10698125/profile2.png" alt="Eugene Chang" />
            <div class="profile-content pull-left">
                <h1 class="name"><b>Eugene Chang</b></h1>
                <h2 class="desc">Software Engineer</h2>
                <ul class="social list-inline">
                    <%= link_to 'https://www.facebook.com/eugene.chang.94', class: "social-icon" do %>
                    <%=fa_icon "facebook"%>
                    <% end %>
                    <%= link_to 'https://www.linkedin.com/in/eugenechang84/', class: "social-icon" do %>
                    <%=fa_icon "linkedin"%>
                    <% end %>
                    <%= link_to 'https://github.com/yuyueugene84', class: "social-icon" do %>
                    <%=fa_icon "github-alt"%>
                    <% end %>
                    <%= link_to 'http://instagram.com/yuyueugene84', class: "social-icon" do %>
                    <%=fa_icon "instagram"%>
                    <% end %>
                    <%= link_to 'https://twitter.com/Yuyueugene', class: "social-icon" do %>
                    <%=fa_icon "twitter"%>
                    <% end %>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="https://dl.dropboxusercontent.com/u/10698125/Eugene_Chang_resume.pdf" target="_blank"><i class="fa fa-paper-plane"></i>Download my resume</a>

        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>My name is Eugene Chang, I am an American software engineer currently living in Taipei, Taiwan.
                            </p>
                            <p>I begin my career in Software engineering as a .NET developer, then I pursue my graduate studies in NTU (National Taiwan University) in computer science.
                              My research interests include computer vision, multimedia indexing and retrieval, and human-computer interaction. I am also an enthusiastic developer in Ruby on Rails and iOS/Mac OSX.
                            </p>
                            <p>This site provides all the details and record of my skills and experience as a software engineer and a graduate student, if you have any further questions about me please email me.
                            </p>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Projects</h2>
                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a >Gotcha - Document Retrieval System using Visual Layout</a></h3>
                                <p class="summary">An OSX Application that allows you to find documents without keywords</p>
                                <div class="featured-image">
                                    <img class="img-responsive project-image" src="https://camo.githubusercontent.com/6a82282360654d0ec070aef5edf947b86941e337/68747470733a2f2f646c2e64726f70626f7875736572636f6e74656e742e636f6d2f752f31303639383132352f666f722532306769746875622f254538253945254132254535254239253935254535254246254142254537253835254137253230323031342d30352d303525323025453425423825384225453525384425383831312e30372e30322e706e67" alt="project name" />
                                    <div class="ribbon">
                                        <div class="text">Master Thesis</div>
                                        </div>
                                    </div>

                                <div class="desc text-left">
                                    <p>In recent years, there is an increase of documents containing graphical contents. With the abundance of these non-textual content in documents, it will be harder for the document viewer to describe the content with only keywords,
                                       thus increasing the difficulty during retrieval of these documents. This system allows the users to give visual-based query in the form of visual layout, and retrieve a set of documents that closely matches the document in terms of geometrical shape and
                                    types of content.</p>
                                    <p>This project is my master thesis, from this project, I submitted a short paper to ACM Multimedia 2014 and a Poster to Siggraph 2014.</p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary" href="https://github.com/yuyueugene84/Gotcha-Find"><i class="fa fa-thumbs-o-up"></i>Check it out on Github</a>
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12" >
                                <img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/u/10698125/project2.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a >Automatic Chinese Food Identification System</a></h3>
                                    <p>This is a research project I participated in. The goal is to create a mobile phone app that allows the foreign tourist in Taiwan to snap and upload pictures of food to identify its content and relevant information.
                                      The whole system's approach is based on computer vision and machine learning method.
                                    </p>
                                    <p><a class="more-link" href="https://play.google.com/store/apps/details?id=csie.ntu.foodRec.client_67_color&hl=zh_TW"><i class="fa fa-external-link"></i>Check out the App on Playstore</a></p>
                                    <p><a class="more-link" href="http://www.cmlab.csie.ntu.edu.tw/project/food/file/food_recognition_web.pdf"><i class="fa fa-external-link"></i>Download the paper</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-sm-4 col-xs-12">
                                <img class="img-responsive project-image" src="https://dl.dropboxusercontent.com/u/10698125/project3.png" alt="project name" />
                                </a>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a >Gotcha - Speech Aiding Tool for Aphasia Patients</a></h3>
                                    <p>This is a project I participated in 2013, the goal of this project is to develope a tool to help Aphasia patients to relate and pronounce the words they have difficulty with. Since this sympton can happen at any time,
                                    we designed an Android input method instead of an app, so it can be used in any app. The input method allows the users to describe the concept in their mind, either by voice or typing, then we use a sementic network to retrieve the concept or word that unions all the description,
                                      then output an image to the user.
                                    </p>
                                    <p><a class="more-link" href="https://github.com/yuyueugene84/Aphasia-Assist"><i class="fa fa-external-link"></i>Check it out on Github</a></p>
                                </div><!--//desc-->
                            </div><!--//item-->

                            <a class="btn btn-cta-secondary" href="https://github.com/yuyueugene84/">More on Github <i class="fa fa-chevron-right"></i></a>

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">

                            <div class="item">
                                <h3 class="title"><a href="#">M.S. in Institute of Network and Multimedia / Computer Science</a> <span class="label label-theme">Master Degree</span></h3>
                                <p class="summary">National Taiwan University</p>

                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><a href="#">B.S. in Electrical Engineering</a> <span class="label label-theme">Bachelor Degree</span></h3>
                                <p class="summary">University of California, Riverside</p>

                            </div><!--//item-->

                            <a class="btn btn-cta-secondary" href="https://dl.dropboxusercontent.com/u/10698125/Eugene_Chang_resume.pdf">Download my Resume (EN) <i class="fa fa-chevron-right"></i></a>

                            <a class="btn btn-cta-secondary" href="https://dl.dropboxusercontent.com/u/10698125/%E5%BC%B5%E4%BD%91%E6%88%90_%E5%B1%A5%E6%AD%B7.pdf">Download my Resume (中)<i class="fa fa-chevron-right"></i></a>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineer - <span class="place"><a href="#">Gi-Tech Inc.</a></span> <span class="year">(2009 - 2011)</span></h3>
                                <p>I worked for two years as a .NET developer for a consulting firm that specializes in location-based system. Developing web systems using ASP.NET framework and C# language.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">FirmWare Engineer - <span class="place"><a href="#">AVTECH</a></span> <span class="year">(2009)</span></h3>
                                <p>I worked briefly as a firmware engineer for this CCTV camera company, writing driver for various hardwares.</p>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span><b>Taipei, Taiwan</b></li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">yuyueugene84@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Cell:</span><a href="#">0988178863</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                The following is a list of my skill sets:</p>

                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">Ruby &amp; Ruby on Rails<span class="level-label">Junior Level</span><span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info..."></span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="50%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Objective-C &amp; iOS<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Mac OSX Cocoa<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Javascript &amp; jQuery<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">HTML, CSS3, SASS &amp; Bootstrap <span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">C/C++<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Matlab<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">git &amp; github<span class="level-label">Experienced</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <p><a class="more-link" href="https://github.com/yuyueugene84"><i class="fa fa-external-link"></i></a></p>
                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->



                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Favorite Things</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"> My Macbook </h3>
                                <!-- <h4 class="university">University College London <span class="year">(2011-2012)</span></h4> -->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"> Red Bull Energy Drink </h3>
                                <!-- <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4> -->
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"> My Ukelele </h3>
                                <!-- <h4 class="university">University of Bristol <span class="year">(2008-2011)</span></h4> -->
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Chinese:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-sm visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="blog aside section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <p></p>
                        <div id="rss-feeds" class="content">

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="list music aside section">
                    <div class="section-inner">
                        <h2 class="heading">Hobbies</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-headphones"></i> <a href="#">Reading</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Travel</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">Ukelele</a></li>
                                <li><i class="fa fa-headphones"></i> <a href="#">American Drama</a></li>

                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-calendar"></i> <a href="http://railspacific.com/" target="_blank">Rails Pacific 2014</a> (Taipei)</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

                <aside class="credits aside section">
                    <div class="section-inner">
                        <h2 class="heading">Credits</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><a href="http://getbootstrap.com/" target="_blank"><i class="fa fa-external-link"></i> Bootstrap 3.2</a></li>
                                <li><a href="http://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fa fa-external-link"></i> FontAwsome 4.1</a></li>
                                <li><a href="http://jquery.com/" target="_blank"><i class="fa fa-external-link"></i> jQuery</a></li>
                                <li><a href="http://caseyscarborough.com/projects/github-activity/" target="_blank"><i class="fa fa-external-link"></i> GitHub Activity Stream</a></li>

                                <li><a href="https://github.com/sdepold/jquery-rss" target="_blank"><i class="fa fa-external-link"></i> jQuery RSS</a></li>
                                <li><a href="https://github.com/sdepold/jquery-rss" target="_blank"><i class="fa fa-external-link"></i> Rails 4.1.6</a></li>

                            </ul>

                            <hr/>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->

            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->

    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="container text-center">
                <small class="copyright">Designed in 2014 by Eugene Chang</small>
        </div><!--//container-->
    </footer><!--//footer-->
